link(rel="stylesheet" href="bower_components/foundation/css/foundation.css")
link(rel="stylesheet" href="bower_components/foundation/css/normalize.css")
script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/modernizr/modernizr.js")

//- Your own appstyle.css
link(rel="stylesheet" href="css/appstyle.css")
