doctype html

html(class="no-js")
  head
    title Gulp testing
    
    include header
    
  body
    h1 Well Hello There. Hello Stranger
    .row
      .column.small-6
        p Well Hello There.
      .column.small-6
        p Hello Stranger.
        
    include footer
